.navbar {
  background-color: black;
  text-align: center;
  /* padding: 1rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
}
.navbar a:hover {
  background-color: #b1e1f8;
}

@media only screen and (max-width: 600px) {
  .navbar {
    gap: 0;
  }

  .navbar a {
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
  }
}